// ------------------------------------------
// 1. 컬러 변수와 디폴트 컬러 설정
// ------------------------------------------
$neutral-0: var(--neutral-0, #fff);
$neutral-100: var(--neutral-100, #f4f6f9);
$neutral-200: var(--neutral-200, #dbe0e8);
$neutral-300: var(--neutral-300, #babfc8);
$neutral-400: var(--neutral-400, #868c98);
$neutral-500: var(--neutral-500, #525866);
$neutral-600: var(--neutral-600, #31353f);
$neutral-700: var(--neutral-700, #2b3440);
$neutral-800: var(--neutral-800, #0e1422);
$neutral-900: var(--neutral-900, #000);
$primary-100: var(--primary-100, #e9f5f7);
$primary-300: var(--primary-300, #6ebbc4);
$primary-500: var(--primary-500, #016d77);
$primary-700: var(--primary-700, #004d57);
$primary-900: var(--primary-900, #01353c);
$secondary-100: var(--secondary-100, #e4f6fb);
$secondary-300: var(--secondary-300, #83c8df);
$secondary-500: var(--secondary-500, #188ab0);
$secondary-700: var(--secondary-700, #115f79);
$secondary-900: var(--secondary-900, #0a3c4c);
$info-100: var(--info-100, #e3f3fd);
$info-300: var(--info-300, #60abf0);
$info-500: var(--info-500, #005acd);
$info-700: var(--info-700, #003393);
$info-900: var(--info-900, #001962);
$success-100: var(--success-100, #e8fcf6);
$success-300: var(--success-300, #349978);
$success-500: var(--success-500, #064);
$success-700: var(--success-700, #00493f);
$success-900: var(--success-900, #002d30);
$warning-100: var(--warning-100, #fdf6e3);
$warning-300: var(--warning-300, #ffc766);
$warning-500: var(--warning-500, #ff8b00);
$warning-700: var(--warning-700, #cc7309);
$warning-900: var(--warning-900, #7a4505);
$error-100: var(--error-100, #ffebe6);
$error-300: var(--error-300, #f57251);
$error-500: var(--error-500, #bf2600);
$error-700: var(--error-700, #991e00);
$error-900: var(--error-900, #661400);

// ------------------------------------------
// 2. 테마 이름(light / dark / ...) : 테마 별 컬러 셋 (primary-100 ...)
// ------------------------------------------
$config: (
        default: (
                neutral-0: $neutral-0,
                neutral-100: $neutral-100,
                neutral-200: $neutral-200,
                neutral-300: $neutral-300,
                neutral-400: $neutral-400,
                neutral-500: $neutral-500,
                neutral-600: $neutral-600,
                neutral-700: $neutral-700,
                neutral-800: $neutral-800,
                neutral-900: $neutral-900,
                primary-100: $primary-100,
                primary-300: $primary-300,
                primary-500: $primary-500,
                primary-700: $primary-700,
                primary-900: $primary-900,
                secondary-100: $secondary-100,
                secondary-300: $secondary-300,
                secondary-500: $secondary-500,
                secondary-700: $secondary-700,
                secondary-900: $secondary-900,
                info-100: $info-100,
                info-300: $info-300,
                info-500: $info-500,
                info-700: $info-700,
                info-900: $info-900,
                success-100: $success-100,
                success-300: $success-300,
                success-500: $success-500,
                success-700: $success-700,
                success-900: $success-900,
                warning-100: $warning-100,
                warning-300: $warning-300,
                warning-500: $warning-500,
                warning-700: $warning-700,
                warning-900: $warning-900,
                error-100: $error-100,
                error-300: $error-300,
                error-500: $error-500,
                error-700: $error-700,
                error-900: $error-900
        ),
  // sample
        dark:
                (
                  // neutral-0: $neutral-0,
                  // neutral-100: $neutral-100,
                  // neutral-200: $neutral-200,
                  // neutral-300: $neutral-300,
                  // neutral-400: $neutral-400,
                  // neutral-500: $neutral-500,
                  // neutral-600: $neutral-600,
                  // neutral-700: $neutral-700,
                  // neutral-800: $neutral-800,
                  // neutral-900: $neutral-900,
                  // primary-100: $primary-100,
                  // primary-300: $primary-300,
                  // primary-500: $primary-500,
                  // primary-700: $primary-700,
                  // primary-900: $primary-900,
                  // secondary-100: $secondary-100,
                  // secondary-300: $secondary-300,
                  // secondary-500: $secondary-500,
                  // secondary-700: $secondary-700,
                  // secondary-900: $secondary-900,
                  // info-100: $info-100,
                  // info-300: $info-300,
                  // info-500: $info-500,
                  // info-700: $info-700,
                  // info-900: $info-900,
                  // success-100: $success-100,
                  // success-300: $success-300,
                  // success-500: $success-500,
                  // success-700: $success-700,
                  // success-900: $success-900,
                  // warning-100: $warning-100,
                  // warning-300: $warning-300,
                  // warning-500: $warning-500,
                  // warning-700: $warning-700,
                  // warning-900: $warning-900,
                  // error-100: $error-100,
                  // error-300: $error-300,
                  // error-500: $error-500,
                  // error-700: $error-700,
                  // error-900: $error-900
                )
);
