// ------------------------------------------
//   0 - Base              ||  0
// ------------------------------------------
$box-shadow: rgba(0, 0, 0, 0.25);

$box-shadows: (
        default: 0px 4px 4px 0px $box-shadow,
  // deep...
);

@mixin box-shadow($shadow) {
  @if map-has-key($box-shadows, $shadow) {
    box-shadow: #{map-get($box-shadows, $shadow)};
  } @else {
    @warn "#{$shadow} 값이 올바르지 않습니다." + "#{$box-shadows} 중에 하나로 선택해 주세요"
  }
}

// * Usage *
// .box {
//  @include box-shadow('default');
// }
