//-------------------------------------------
// Desktop First인 경우, max-width OR Mobile First인 경우, min-width
// ------------------------------------------
$breakpoints: (
  //  Desktop (1280 ~ 1920)
        "breakpoint-xl":
        (
                max-width: 1920px
        ),
  //  large tablet (1024 ~ 1279)
        "breakpoint-lg":
        (
                max-width: 1279px
        ),
  //  small tablet (768 ~ 1023)
        "breakpoint-md":
        (
                max-width: 1023px
        ),
  //  small handset (480 ~ 767)
        "breakpoint-sm":
        (
                max-width: 767px
        ),
  //  x-small handset (0 ~ 479)
        "breakpoint-xs":
        (
                max-width: 479px
        )
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "#{$breakpoint} 값이 올바르지 않습니다." + "#{map-keys($breakpoints)} 중에 선택해 주세요.";
  }
}

// * Usage *
// .selector {
//   color: red;

//   @include respond-to('small') {
//     color: blue;
//   }
// }
