//-------------------------------------------
// flex 상하 좌우 정렬
//-------------------------------------------
@mixin flex-standard($display:flex, $vertical:center, $horizontal:center, $direction:null) {
  display: $display;
  align-items: $vertical;
  justify-content: $horizontal;
  flex-direction: $direction;
}

//-------------------------------------------
// list 공통 스타일 정의
//-------------------------------------------
@mixin list-style($class-prefix, $size: null, $checkbox: null) {
  .#{$class-prefix}-list {
    background: $white;
  }

  .#{$class-prefix}-item {
    @include flex-standard;

    &:hover:not(:disabled) {
      background-color: $light-blue;
    }

    &:active:not(:disabled) {
      background-color: $light-blue;
    }
    .checkbox {
      @if $size == 'lg' {
        @extend .checkbox-lg;
      } @else if $size == 'sm' {
        @extend .checkbox-sm;
      }
      .checkbox-input:checked + .checkbox-label {
        color: $primary;
      }
    }
  }

  .#{$class-prefix}-button, .checkbox {
    @include flex-standard($horizontal: space-between);
    width: 100%;

    @if $size == 'lg' {
      height: 40px;
      padding: $spacing-4 $spacing-12;
      font-size: 15px;

      .svg-icon {
        width: 20px;
        height: 20px;
      }
    } @else if $size == 'sm' {
      height: 24px;
      padding: $spacing-4 $spacing-4;
      font-size: 13px;

      .svg-icon {
        width: 16px;
        height: 16px;
      }
    } @else {
      // 기본 크기 스타일
      height: 32px;
      padding: $spacing-4 $spacing-8;
      font-size: 14px;

      .svg-icon {
        width: 18px;
        height: 18px;
      }
    }
  }

  .#{$class-prefix}-text {
    @include ellipsis;
    text-align: left;
    font-weight: 500;
  }
}


//-------------------------------------------
// 한 줄 말줄임
//-------------------------------------------
@mixin ellipsis($width: null) {
  display: block;
  @apply truncate;

  @if ($width) {
    width: $width;
  }
}

//-------------------------------------------
// 한 줄 이상 말줄임
// @include ellipsis-multi(line-height 값, 줄 수)
//-------------------------------------------
@mixin ellipsis-multi($line-height: 1.2, $lines: 2) {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  max-height: $line-height * $lines;
  line-height: $line-height;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

//-------------------------------------------
// 숨김
//-------------------------------------------
@mixin hidden-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

//-------------------------------------------
// table caption 숨김
//-------------------------------------------
@mixin caption-out {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

//-------------------------------------------
// IE10+ 크로스브라우징
//-------------------------------------------
@mixin ie-resolution {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}
