@tailwind base;

/* reset */
@layer base {
  * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    vertical-align: baseline;
  }

  html {
    @include font-family(pretandard);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }

  a:focus,
  button:focus,
  input:focus {
    outline: none;
  }

  a:focus-visible,
  button:focus-visible,
  input:focus-visible {
    outline: 1px dashed $neutral-900;
  }

  a {
    text-decoration: none;
  }

  a:active,
  a:hover {
    text-decoration: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
}
