$font-families: (
        pretandard:
        unquote(
                        "'pretandard', 'Segoe UI', 'Open Sans', 'Helvetica Neue'"
        ),
        mono:
        unquote(
                        "'Consolas', 'Menlo', 'Courier', 'monospace'"
        )
);

@mixin font-family($family-name) {
  @if map-has-key($font-families, $family-name) {
    font-family: #{map-get($font-families, $family-name)};
  } @else {
    @warn "#{$family-name} 값이 올바르지 않습니다.";
  }
}

// * Usage *
// html {
//   @include font-family('sans');
// }


//-------------------------------------------
//  Heading (추후 수정 예정)
// ------------------------------------------
// heading size : 40px,32px,24px

@mixin heading($size) {
  font-size: $size;
  line-height: 1.2;
  font-weight: 700;
}


