// TODO: [퍼블리싱] 변수 재정의 및 리팩토링
// ------------------------------------------
// Path
// ------------------------------------------
$img-path: "../images" !default;
$font-path: "../fonts" !default;

// ------------------------------------------
// Default Spacing
// ------------------------------------------

$spacing-2: 2px !default;
$spacing-4: 4px !default;
$spacing-8: 8px !default;
$spacing-12: 12px !default;
$spacing-16: 16px !default;
$spacing-20: 20px !default;
$spacing-24: 24px !default;
$spacing-28: 28px !default;
$spacing-32: 32px !default;
$spacing-36: 36px !default;
$spacing-40: 40px !default;
$spacing-48: 48px !default;
$spacing-56: 56px !default;
$spacing-64: 64px !default;

// ------------------------------------------
// Default Radius
// ------------------------------------------
$border-radius: 2px !default;
$border-radius-round: 50% !default;
