//.l- class
.l-split {
  display: flex;
  flex-grow: 1;

  &:has(.work-contents) {
    height: calc(100% - 48px);
  }

  .work-list {
    width: 310px;
    flex: 0 0 310px;
    border-right: 1px solid $neutral-200;

    .menu-data {
      height: calc(100% - 49px);
    }

    .tab-line {
      width: 100%;
      height: 100%;
    }

    .tab-button-text {
      @include font-size('14');
    }

    .tab-contents {
      display: flex;
      flex-direction: column;
      height: calc(100% - 46px);
      padding: $spacing-8 0 0 0;
    }
  }

  .work-page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .code-box {
      overflow: auto;
      flex-grow: 1;
    }
  }

  .work-list,
  .work-page {
    .l-top-bar {
      //padding: $spacing-8 $spacing-12;
      border-bottom: 1px solid $neutral-200;
    }
  }

  .work-contents {
    @include flex($direction: column, $vertical: null, $horizontal: null);
    height: 100%;
    overflow: auto;
    gap: $spacing-32;
    padding: $spacing-16;

    .l-top-bar {
      @include flex($vertical: flex-start, $direction: column);
      gap: $spacing-8;
      padding: 0;
      border: 0;
    }

    .l-resource-box {
      height: 894px;
    }
  }
}

.section-contents:has(.l-split + .l-split) {
  .l-split {
    &:first-child {
      height: 60%;
      border-bottom: 1px solid $neutral-200;
    }

    &:last-child {
      height: 40%;
    }
  }
}


.l-between {
  @include flex($horizontal: space-between);
}

.l-top-bar {
  @include flex($horizontal: space-between);
  width: 100%;
  flex-shrink: 0;
  padding: $spacing-8;

  & + .l-split {
    flex-grow: 1;
    height: calc(100% - 48px);
  }
}

.l-sidebar {
  @include flex($direction: column, $horizontal: space-between);

  padding: $spacing-24 0 $spacing-8;
  width: 100%;
  height: 100%;
}



