#header {
  @include z-index('header');

  position: fixed;
  width: 100%;
  height: 50px;
  padding: $spacing-8 $spacing-16;
  background: $neutral-0;
  border-bottom: 1px solid $neutral-200;

  .search-input {
    width: 330px;
    margin-left: $spacing-24;
  }
}

.logo {
  @include font-size('18');

  font-weight: 700;
}

.profile {
  @include flex;

  gap: $spacing-8;

  &-avatar {
    @include flex;

    width: 32px;
    height: 32px;
    border-radius: $border-radius-round;

    // 임시스타일
    background: $primary-300;
  }

  &-img {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    border-radius: $border-radius-round;
  }
}