#section {
  width: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  margin-left: 48px;

  .section-top-bar + .section-contents {
    height: calc(100% - 48px);
  }
}

.section-top-bar {
  @include flex($horizontal: flex-start);

  gap: $spacing-16;
  width: 100%;
  height: 48px;
  padding: 0 $spacing-8;
  background: $neutral-0;
  border-bottom: 1px solid $neutral-200;
}

.section-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $spacing-16 $spacing-20;
  background: $neutral-100;

  &-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: auto;
    gap: $spacing-16;
  }
}