#section {
  width: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  margin-left: 48px;

  &:has(.filters) {
    .section-contents {
      height: calc(100% - 48px);
    }
  }
}


.section-grid {
  flex-direction: row;
  padding: $spacing-16 $spacing-20;
  gap: $spacing-24;
}

.section-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $spacing-16 $spacing-20;
}