// ------------------------------------------
// 1. 컬러 변수와 디폴트 컬러 설정
// ------------------------------------------
$primary: var(--primary-color, #005ACD);
$secondary: var(--secondary-color, #091f63);
$tertiary: var(--secondary-color, #4DAEFF);
$negative: var(--negative-color, #EF594F);
$hover-primary: var(--hover-primary-color, #0a6be8);
$hover-secondary: var(--hover-secondary-color, #294292);
$hover-tertiary: var(--hover-secondary-color, #67b7ff);
$hover-negative: var(--hover-negative-color, #f5675e);
$active-primary: var(--active-primary-color, #024eb1);
$active-secondary: var(--active-secondary-color, #011451);
$active-tertiary: var(--active-secondary-color, #2c8dde);
$active-negative: var(--active-negative-color, #d04037);

// ------------------------------------------
// 2. 테마 이름(default..) - 테마 별 컬러 셋 (primary, secondary...)
// ------------------------------------------
$config: (
        default:
        (
                primary: $primary,
                secondary: $secondary,
                tertiary: $tertiary,
                negative: $negative,
                hover-primary: $hover-primary,
                hover-secondary: $hover-secondary,
                hover-tertiary: $hover-tertiary,
                hover-negative: $hover-negative,
                active-primary: $active-primary,
                active-secondary: $active-secondary,
                active-tertiary: $active-tertiary,
                active-negative: $active-negative
        ),
  // sample
        dark:
        (
                primary: #0c8ae5,
                secondary: $secondary,
                tertiary: $tertiary,
                negative: $negative,
                hover-primary: $hover-primary,
                hover-secondary: $hover-secondary,
                hover-tertiary: $hover-tertiary,
                hover-negative: $hover-negative,
                active-primary: #0080dc,
                active-secondary: $active-secondary,
                active-tertiary: $active-tertiary,
                active-negative: $active-negative
        ),
);
