$colors: (
  "black": #{$black},
  "white": #{$white},
  "gray": #{$gray},
  "marker-yellow": #{$marker-yellow},
  "marker-purple": #{$marker-purple},
  "marker-cyan": #{$marker-cyan},
  "marker-red": #{$marker-red},
);

@each $attr, $color in $colors {
  .bg-#{$attr} {
    background-color: $color;

    @if $color == #{$white} {
      color: $black;
    } @else {
      color: $white;
    }
  }
}

