// main
#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  //height: calc(100% - 56px);
}

.main-content {
  flex-grow: 1;
}

.main-search {
  @include flex-standard($direction: column);
  width: 100%;
  height: 100%;
  gap: $spacing-16;
}

.main-information {
  @include flex-standard;
  width: 100%;
  gap: 6px;
}
