.no-result {
  @include flex-standard;
  width: 100%;
  padding: $spacing-12;
  border-top: 1px solid $border-gray;

  &-title {
    font-size: 18px;
    font-weight: 500;
    color: $font-black;
  }
}
