.side-container {
  @include flex-standard($vertical: flex-start, $horizontal: flex-start, $direction: column);
  width: 100%;
  height: 100%;
  background-color: $white;
}

.side-content {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto
}

.side-wrapper {
  position: relative;
}

.search-word {
  @include flex-standard;
  gap: $spacing-24;

  &-title {
    font-size: 16px;
    font-weight: 600;
  }

  .button {
    font-size: 16px;
    color: $font-gray-01;
    border: none;
  }
}

.anchor {
  @include flex-standard($horizontal: flex-start);
  width: 100%;
  gap: $spacing-16;
  padding: $spacing-12 0;

  &-link {
    text-decoration: underline;
    font-size: 15px;
    color: $tertiary;
  }
}

.result-info {
  @include flex-standard($horizontal: space-between);
  width: 100%;
}

.result-summary {
  font-size: 16px;
  font-weight: 400;
  color: $font-black;

  &-title {
    font-size: 20px;
    font-weight: 600;
  }
}

.result-title {
  font-size: 24px;
  width: 100%;
  text-align: center;
  padding-bottom: $spacing-12;
}

.result-sort {
  @include flex-standard($horizontal: flex-end);
  gap: $spacing-12;
  margin-left: auto;
}

.result-more-button {
  width: 300px;
  border-radius: 35px;
}

.category {
  &-article {
    @include flex-standard($direction: column);
    gap: $spacing-16;
    width: 100%;

    table {
      width: 100%;

      th {
        width : 250px;
      }
    }

    .sample-data-table {
      overflow: auto;
      max-height: 700px;

      table {
        table-layout: fixed;

        td {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $spacing-24;
    background: $light-blue-02;
    gap: $spacing-32;
  }

  &-subject {
    @include flex-standard($horizontal: space-between);
    width: 100%;

    &.is-vertical{
      flex-direction: column;
      align-items: flex-start;
      gap: $spacing-8;
      margin-bottom: $spacing-12;
    }
  }

  &-title {
    @include flex-standard($horizontal: flex-start);
    color: $font-black;
    font-size: 20px;
    font-weight: 500;
  }

  &-description{
    color: $font-gray-01;
    font-size: 15px;
  }
}
