.gnb {
  @include flex-standard($horizontal: flex-start);

  &-item {
    position: relative;

    &:not(:first-child) {
      &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 13px;
        background-color: $gray;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &-button {
    padding: 0 $spacing-12;
    font-weight: 500;

    &.is-selected {
      color: $primary;
    }
  }
}
