.gnb {
  @include flex-standard($horizontal: flex-start);

  &-item {
    position: relative;

    &:not(:first-child) {
      &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 13px;
        background-color: $gray;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &-button {
    padding: 0 $spacing-12;
    font-weight: 500;

    &.is-selected {
      color: $primary;
    }
  }
}


.tab {
  @include flex-standard($vertical: flex-end, $horizontal: flex-start);
  height: 100%;
  gap: $spacing-4;

  &-item {
    @include flex-standard($horizontal: space-between);
    min-width: 207px;
    height: 32px;
    gap: $spacing-4;
    padding: 0 10px;
    background-color: #ffffff80;
    border-radius: $border-radius-sm $border-radius-sm 0 0;


    &.is-selected {
      background-color: $white;
    }
  }

  &-button {
    @include flex-standard($horizontal: flex-start);
    gap: $spacing-4;
  }

  &-title {
    font-size: 14px;
    font-weight: 400;
    color: $font-black;
  }

  &-close-button {
    @include flex-standard;

    .svg-icon {
      width: 16px;
      height: 16px;
    }
  }
}
