.alert {
  @include z-index('alert');
  @include box-shadow('xl');

  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  min-width: 380px;
  transform: translate(-50%, -50%);
  background: $neutral-0;
  border-radius: $border-radius-4;

  &-body {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: $spacing-32;

    .notification-detail {
      @include icon-color($neutral-800);
    }
  }

  &-text {
    color: $neutral-600;
  }

  &-foot {
    display: flex;
    align-items: center;
    padding: $spacing-12 $spacing-16 $spacing-16;

    &-group {
      display: flex;
      gap: $spacing-8;
      margin-left: auto;
    }
  }

  &-overlay {
    @include overlay-black;

    z-index: 8001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
