// TODO: [퍼블리싱] 디자인 가이드 페이지 검토 필요 (뎁스 별 디자인..)
.guide {
  @include flex($vertical: flex-start);
  position: relative;
  height: 100vh;

  &-container {
    height: 100%;
    margin: 0 auto;
  }

  &-lnb {
    position: fixed;
    left: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    background: $primary-900;
  }

  .lnb-top-container {
    padding: $spacing-32 0 $spacing-32 $spacing-24;
  }

  .lnb-logo-link {
    @include font-size('24');
    color: $neutral-0;

    span:first-child {
      font-weight: 600;
    }

    span:last-child {
      margin-left: $spacing-4;
    }
  }

  .lnb-bottom-container {
    overflow-y: auto;
    padding: $spacing-24;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgb(255, 255, 255, 35%);

      &:hover {
        background: rgb(255, 255, 255, 40%);
      }
    }

    .lnb-list + .lnb-list {
      margin-top: $spacing-32;
    }

    .lnb-item {
      &-title {
        height: 32px;
        color: $secondary-300;
        font-weight: 600;
      }
    }

    .sub-item {

      &-link {
        display: flex;
        align-items: center;
        height: 32px;
        width: 100%;
        color: $neutral-0;

        &:hover {
          color: $primary-300;
        }
      }
    }
  }

  &-main {
    padding: 88px 40px 120px 200px;
    width: 1400px;
  }
}

.guide-section {
  width: 100%;
  padding: 0 $spacing-48 96px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: $spacing-48;
  line-height: 100%;
  font-size: 40px;
  font-weight: 700;
  color: $primary-500;
  text-align: start;
}

.section-type {
  color: $neutral-400;
  margin-bottom: $spacing-4;
}

.section-summary {
  color: $neutral-800;
  font-size: 18px;
  line-height: 1.8;

}

.section-subtitle {
  margin: $spacing-64 0 $spacing-32;
  color: $neutral-800;
  font-size: 24px;
  font-weight: 700;
  font-size: 20px;
}

.group-description {
  width: 33.33%;
  color: $neutral-500;

  ul {
    list-style: disc;
    list-style-position: inside;

    li {
      margin-top: $spacing-4;
    }
  }

  code {
    @include font-size('13');
    padding: 0 $spacing-4;
    border-radius: $border-radius-4;
    border: 1px solid $neutral-200;
    background: $neutral-100;
  }
}

.group-title {
  font-size: 18px;
  color: $neutral-800;
  font-weight: 600;
  margin-bottom: $spacing-12;
}

.group-summary {
  line-height: 1.8;
}

.section-figure {
  display: flex;
  flex-direction: column;
  gap: $spacing-16;
  flex-grow: 1;
  border: 1px dotted $neutral-200;
  padding: 32px;
  border-radius: $border-radius-8;
}

.test {
  display: flex;
  gap: $spacing-16;

  li {
    width: 100px;
    height: 50px;

    $color_list: (
            #{$primary-500},
            #{$secondary-500},
            #{$info-500},
            #{$warning-500},
            #{$error-500},
            #{$neutral-500}
    );

    @for $i from 1 through length($color_list) {
      &:nth-child(#{$i}) {
        background-color: nth($color_list, $i);
      }
    }
  }

  &.shadows {
    gap: $spacing-24;

    li {
      padding-top: $spacing-36;
      width: 200px;
      height: 100px;
      text-align: center;
      color: $neutral-500;
      background-color: $neutral-100;

      @for $i from 1 through length($box-shadows) {
        &:nth-child(#{$i}) {
          @include box-shadow(nth(map-keys($box-shadows), $i));
        }
      }
    }
  }
}

.icon-home {
  $icon-sizes: (
          'xs',
          'sm',
          'md',
          'lg',
          'xl'
  );

  @for $i from 1 through length($icon-sizes) {
    &:nth-child(#{$i}) {
      @include icon-size(nth($icon-sizes, $i));
    }
  }

  &:not(:first-child) {
    margin-left: $spacing-36;
  }

  &:nth-child(3) {
    @extend .svg-icon-primary;
  }
}

.icon-trash {
  @include icon-size(40px);
  @include icon-color($error-500);
  margin-left: $spacing-36;
}

.link-buttons {
  @include flex($horizontal: flex-start);
  gap: $spacing-16;

  button {
    border-radius: $border-radius-2;
    padding: 0 $spacing-8;
    height: 32px;
    color: $secondary-500;

    &:hover {
      background: $secondary-100;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .guide-main {
    padding-left: 320px;
  }
}