.guide-section {
  padding: $spacing-64 $spacing-48;
}

.section-title {
  margin-bottom: $spacing-24;
  font-size: 24px;
  color: $primary-500;
  text-align: start;
}

.test {
  display: flex;
  gap: 16px;

  li {
    width: 100px;
    height: 50px;

    $color_list: (
            #{$primary-500},
            #{$secondary-500},
            #{$info-500},
            #{$warning-500},
            #{$error-500},
            #{$neutral-500}
    );

    @for $i from 1 through length($color_list) {
      &:nth-child(#{$i}) {
        background-color: nth($color_list, $i);
      }
    }
  }

  &.shadows {
    gap: $spacing-24;

    li {
      padding-top: 35px;
      width: 200px;
      height: 100px;
      text-align: center;
      color:$neutral-500;
      background-color: $neutral-100;

      @for $i from 1 through length($box-shadows) {
        &:nth-child(#{$i}) {
          @include box-shadow(nth(map-keys($box-shadows), $i));
        }
      }
    }
  }
}

$font-sizes: (
  'heading-40',
  'heading-32',
  'heading-24',
  'title-20',
  'title-18',
  'title-16',
  'label-15',
  'label-14',
  'label-13',
  'label-12',
  'body-15',
  'body-14',
  'body-13',
  'body-12'
);

.guide-typo {
  @for $i from 1 through length($font-sizes) {
    &:nth-child(#{$i}) {
      @include font-size(nth($font-sizes, $i));
    }
  }
}
