
.button-group {
  @include flex;
  position: relative;
  background-color: $neutral-0;

  &-input {
    @include hidden-input;

    &:checked {
      & + label {
        background-color: $primary-500;
        color: $neutral-0;
        border-color: $primary-500
      }
    }

    &:disabled + label {
      background-color: $neutral-100;
    }
  }

  &-label {
    @include flex($horizontal: flex-start);
    height: 24px;
    padding: 0 $spacing-8;
    color: $neutral-700;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid $neutral-200;
    border-right: none;

    &:hover {
      background-color: $neutral-100;
    }

    &:nth-child(2) {
      border-top-left-radius: $border-radius-4;
      border-bottom-left-radius: $border-radius-4;
    }

    &:last-child {
      border-top-right-radius: $border-radius-4;
      border-bottom-right-radius: $border-radius-4;
    }

    &:last-child {
      border-right: 1px solid $neutral-200;
    }
  }

  &-lg {
    .button-group {
      &-label {
        height: 32px;
        padding: 0 $spacing-12;
        font-size: 13px;
      }
    }
  }
}
