//-------------------------------------------
// select, dropdown, list 공통 스타일 정의
//-------------------------------------------
$list-classes: list, dropdown, select;

@each $list in $list-classes {
  .#{$list}-list {
    @include z-index('dropdown');
    @include box-shadow('md');
    position: absolute;
    padding: $spacing-2 0;
    border-radius: $border-radius-4;
    background: $neutral-0;
  }

  .#{$list}-item {
    @include flex($horizontal: flex-start);
    padding: 0 $spacing-6 0 $spacing-8;
    border-radius: $border-radius-4;

    .checkbox {
      flex-grow: 1;
      justify-content: flex-start;
    }

    &:hover:not(:disabled) {
      background-color: $neutral-100;
    }

    &-button {
      @include ellipsis;
      @include flex;
      gap: $spacing-6;
      width: 100%;

      &:active:not(:disabled) {
        color: $primary-500;

        .svg-icon {
          @include icon-color($primary-500);
        }

        .#{$list-classes}-item-button-text {
          color: $primary-500;
        }
      }

      .svg-icon {
        @include icon-size(18px);
      }

      &-text {
        @include ellipsis;
        flex-grow: 1;
        color: $neutral-700;
        text-align: left;
      }
    }

    &.#{$list}-item-negative {
      .svg-icon {
        @include icon-color($error-500);
      }

      .#{$list}-item-button-text {
        color: $error-500;
      }
    }

    &.#{$list}-item-negative:active,
    &.is-#{$list}-item-selected,
    &.is-#{$list}-item-selected:hover {
      background: $primary-100;
      border: 1px solid $primary-300;

      .svg-icon {
        @include icon-color($primary-500);
      }

      .#{$list}-item-button-text {
        color: $primary-500;
      }

      &.#{$list}-item-negative {
        background: $error-100;
        border: none;

        .svg-icon {
          @include icon-color($error-500);
        }

        .#{$list}-item-button-text {
          color: $error-500;
        }
      }
    }
  }
}
