@mixin list-size($font-size: '13', $size: 36px, $icon-size: 18px) {
  .list-item {
    height: $size;

    .svg-icon {
      @include icon-size($icon-size);
    }

    &-button-text {
      @include font-size($font-size);
    }
  }
}

.list {
  @include list-size;
  z-index: auto;
  box-shadow: none;
  border-color: $neutral-200;

  &-button-group {
    @include flex;

  }

  &-search {
    height: 100%;
    padding: $spacing-8;
    border-bottom: 1px solid $neutral-200;
  }

  &-item-button-text {
    font-weight: 600;
  }

  &.list-lg {
    @include list-size($font-size: '14', $size: 40px, $icon-size: sm);
  }
}
