.modal-fixed {
  @include flex;
}

.modal {
  @include box-shadow('lg');
  display: flex;
  flex-direction: column;
  width: 620px;
  background: $neutral-0;
  border-radius: $border-radius-12;

  &-head {
    @include flex($horizontal: space-between);
    padding: $spacing-20 $spacing-20 $spacing-12;

    &-text {
      display: flex;
      align-items: center;
      gap: $spacing-4;
    }

    &-title {
      @include font-size('title-16');
    }

    &-subtitle {
      @include font-size('body-15');
      color: $neutral-500;
    }
  }

  &-body {
    padding: $spacing-32;

  }

  &-foot {
    @include flex($horizontal: space-between);
    padding: $spacing-20 $spacing-20 $spacing-12;

    &-buttons {
      @include flex($horizontal: flex-end);
      gap: $spacing-8;
      width: 100%;
    }
  }

  &-full-button {
    .modal-foot {
      .button {
        flex-grow: 1;
      }
    }
  }


  &-lg {
    width: 900px;

    .modal-body {
      padding: $spacing-48;
    }
  }

  &-sm {
    width: 480px;

    .modal-body {
      padding: $spacing-16;
    }
  }
}
