.modal-fixed {
  @include flex;
}

.modal {
  @include z-index('modal');
  @include box-shadow('lg');
  display: flex;
  flex-direction: column;
  width: 620px;
  background: $neutral-0;
  border-radius: $border-radius-12;

  &-head {
    @include flex($horizontal: space-between);
    flex-shrink: 0;
    padding: $spacing-20 $spacing-20 $spacing-12;

    &-text {
      display: flex;
      align-items: center;
      gap: $spacing-4;
    }

    &-title {
      @include font-size('title-16');
    }

    &-subtitle {
      @include font-size('body-15');
      color: $neutral-500;
    }
  }

  &-body {
    @include flex($direction: column);
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: $spacing-32;
  }

  &-foot {
    display: flex;
    align-items: center;
    padding: $spacing-20 $spacing-20 $spacing-12;

    &-main-buttons {
      display: flex;
      gap: $spacing-8;
      margin-left: auto;
    }
  }

  &-full-button {
    .modal-foot-main-buttons {
      width: 100%;

      .button {
        flex-grow: 1;
      }
    }
  }


  &-lg {
    width: 900px;

    .modal-body {
      padding: $spacing-48;
    }
  }

  &-sm {
    width: 480px;

    .modal-body {
      padding: $spacing-16;
    }
  }
}
