.text-input {
  @include box-shadow('sm');
  @include font-size('body-14');
  height: 32px;
  padding: 0 $spacing-6 0 $spacing-8;
  border-radius: $border-radius-4;
  border: 1px solid $neutral-200;
  color: $neutral-900;

  &::placeholder {
    @include font-size('body-14');
    color: $neutral-400;
  }

  &:hover {
    background: $neutral-100;
  }
  &:focus {
    background: $neutral-0;
    border: 1px solid $secondary-500;
    box-shadow: 0 0 0 2px $neutral-0, 0 0 0 4px #DDF0F3;
  }

  &:read-only {
    border: none;
    color: $neutral-900;
    background: $neutral-100;
  }

  &-group {
    @include flex;
    gap: $spacing-6;
  }

  & + .inline-notification {
    margin-top: $spacing-4;
  }
}