@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.portal-article {
  @include flex-standard($direction: column);
  width: calc(33.3333% - 24px);
  gap: $spacing-12;

  &-head {
    @include flex-standard($direction: column);
    gap: $spacing-4;
  }

  &-title {
    font-size: 20px;
    color: $black;
    font-weight: 600;
  }

  &-text {
    font-size: 13px;
    color: $black;
  }

  &-body {
    width: 100%;
    height: 320px;
    padding: $spacing-8 $spacing-12;
    border: 1px solid $border-gray;
    border-radius: $border-radius-sm;
  }
}

.ranking {
  padding: $spacing-8;

  &-list {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
  }

  &-item {
    &:not(:last-child) {
      padding-bottom: $spacing-8;
      border-bottom: 1px solid $border-gray;
    }
  }

  &-link {
    @include flex-standard($horizontal: flex-start);
    gap: $spacing-12;

    &:hover {
      .data-ranking-title, .data-ranking-text {
        text-decoration: underline;
      }
    }
  }

  &-num {
    @include flex-standard;
    flex: none;
    width: 30px;
    height: 30px;
    background: $tertiary;
    color: $white;
    border-radius: $border-radius-sm;
  }

  &-description {
    @include flex-standard($vertical: flex-start, $direction: column);
    width: calc(100% - 42px);
  }

  &-title {
    @include ellipsis;
    width: 100%;
    color: $black;
    font-size: 13px;
  }

  &-text {
    @include ellipsis;
    width: 100%;
    color: $font-gray-02;
    font-size: 12px;
  }
}

.swiper {
  @include flex-standard($direction: column);
  gap: $spacing-16;
  position: relative;
  height: 100%;
  padding: $spacing-8 $spacing-16;

  &-results {
    @include flex-standard($horizontal: flex-end);
    gap: $spacing-16;
    width: 100%;

    .results-page {
      font-size: 13px;
      color: $black;
    }
  }

  &-container {
    overflow: hidden;
    height: 100%;
  }

  &-pre-button, &-next-button {
    position: absolute;
    top: 45%;
    height: 48px;
    width: 25px;
    padding: 0;
    background: $white;
    border: 1px solid $border-gray;

    &:hover {
      background: $light-gray;
    }
  }

  &-pre-button {
    left: -13px;
  }

  &-next-button {
    right: -13px;
  }

  &-wrapper {
    position: relative;
    display: flex;
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    transition-property: transform;
    transform: translateZ(0);
  }

  &-item {
    @include flex-standard;
    gap: $spacing-12;
    width: 100%;
    flex-shrink: 0;

    &-title {
      font-size: 16px;
      color: $black;
      font-weight: 600;
    }

    &-text {
      font-size: 12px;
      color: $font-gray-01;
    }

    .button {
      width: 100%;
    }
  }
}

.community {
  @include flex-standard($horizontal: flex-start);
  position: relative;
  gap: $spacing-24;
  height: 100%;

  &:before {
    content: "";
    position: absolute;
    right: 50%;
    height: 100%;
    width: 1px;
    background: $border-gray;
  }

  &-inner {
    @include flex-standard($direction: column, $vertical: flex-start, $horizontal: flex-start);
    width: calc(50% - 12px);
    height: 100%;
    gap: $spacing-4;
  }

  &-top-bar {
    @include flex-standard($horizontal: space-between);
    width: 100%;
  }

  &-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing-16;
  }

  &-title {
    color: $font-black;
    font-size: 16px;
    font-weight: 700;
  }

  &-list {
    @include flex-standard($direction: column, $vertical: flex-start, $horizontal: space-between);
    flex-grow: 1;
    gap: 10px;
  }

  &-item {
    @include flex-standard($horizontal: flex-start);
    gap: $spacing-4;
    width: 100%;

    &-link {
      @include ellipsis;
      font-size: 15px;
      color: $black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.special-notify {
  @include flex-standard($direction: column);
  gap: $spacing-8;

  &-inner {
    @include flex-standard($horizontal: flex-start);
    gap: $spacing-4;
    width: 100%;
    height: 36px;
    padding: $spacing-4 $spacing-8;
    background: $light-blue-02;
    border-radius: $border-radius-sm;

    .svg-icon {
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      fill: $black;
    }
  }
}

.flow {
  flex-grow: 1;
  overflow: hidden;

  &-group {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;

    &:hover {
      color: $font-gray-01;

      .flow-item {
        animation-play-state: paused;
        cursor: pointer;
      }
    }
  }

  &-item {
    animation: textLoop 10s linear infinite;
    padding-right: 1.4881vw;
  }

  &-link {
    color: $font-black;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
  }
}

.paging {
  &-dots {
    @include flex-standard;
    gap: $spacing-8;
  }

  .dot {
    width: 10px;
    height: 10px;
    background: $gray;
    border-radius: $border-radius-round;

    &.is-active {
      background: $tertiary;
    }

    &-button {
      width: 100%;
      cursor: pointer;
      text-indent: -9999px;
    }
  }
}


