@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
@layer base {
  * {
    outline:none;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: NotoSansKR, Meiryo, Open Sans, sans-serif;
    @apply h-full;
  }

  body, #__nuxt {
    @apply h-full;
  }

  input:focus {
    outline: none;
  }

	h1, .h1 {
		@apply text-5xl font-medium;
	}

  h2, .h2 {
		@apply text-2xl font-medium;
	}

  h3, .h3 {
		@apply text-xl font-normal;
	}

  h4, .h4 {
		@apply text-lg font-normal;
	}

  h5, .h5 {
		@apply text-base font-normal;
	}

  ::-webkit-scrollbar {
    @apply w-[15px] h-[15px];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#c2c2c2] bg-clip-content border-[4px] border-solid rounded-[20px] border-transparent;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#fafafa];
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#aaaaaa] bg-clip-content;
  }

  ::-webkit-scrollbar-corner {
    @apply bg-[#fafafa];
  }
}

/* utilities */
@layer utilities{
  /* color */
  .primary {
    color: #026F65;
  }

  .hover-primary {
    color: #34998F;
  }

  .text-01 {
    color: #0B0A0D;
  }

  .text-02 {
    color: #606974;
  }

  .text-03 {
    color: #77889A;
  }

  .text-04 {
    @apply text-white;
  }

  .text-05 {
    color: #ABAFBA;
  }

  .field-border {
    border: 1px solid #DCE1E8;
  }

  .field-border-primary {
    border: 2px solid #026F65;
  }

  .fill-primary {
    fill :#026F65;
  }

  .negative {
    color:#F87171;
  }

  .support {
   color: #3D83C3;
  }

  /* bg-color */
  .bg-primary {
    background-color: #026F65;
  }

  .bg-hover-primary {
    background-color: #34998F;
  }

  .bg-secondary {
    background-color: #F6B954;
  }

  .bg-hover-secondary {
    background-color: #FECC7A;
  }

  .bg-ui-01 {
    background-color:#F7F7F7;
  }

  .bg-ui-02 {
    @apply bg-white;
  }

  .bg-ui-03 {
    background-color:#B2BDCB;
  }

  .bg-ui-04{
    background-color:#DCE1E8;
  }

  .bg-ui-05 {
    background-color: #EEF7F0;
  }

   /* font-size */
  .text-s-lg {
    @apply font-normal text-[15px];
  }
  .text-s-md {
    @apply font-normal text-sm;
  }
  .text-s-sm {
    @apply font-normal text-[13px];
  }
  .text-s-xs {
    @apply font-normal text-xs;
  }
 }

/* components */
@layer components {
  /* badge */
  .badge {
    @apply block rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset truncate max-w-full w-fit;
  }

  .badge--gray {
    @apply bg-gray-50 text-gray-600 ring-gray-500/10;
  }

  .badge--red{
    @apply bg-red-50 text-red-700 ring-red-600/10;
  }

  .badge--orange {
    @apply bg-orange-50 text-orange-600 ring-orange-600/10;
  }

  .badge--yellow {
    @apply bg-yellow-50 text-yellow-800 ring-yellow-600/20;
  }

  .badge--green {
    @apply bg-green-50 text-green-700 ring-green-600/20;
  }

  .badge--blue {
    @apply bg-blue-50 text-blue-700 ring-blue-700/10;
  }

  .badge--purple {
    @apply bg-purple-50 text-purple-700 ring-purple-700/10;
  }

  .badges {
    @apply flex flex-col gap-2 w-full;
  }

   /* button */
   .button {
    @apply flex items-center justify-center h-10 px-4 py-2 rounded-md text-04 text-s-md font-medium
   }

   .button:disabled {
    @apply opacity-25 cursor-not-allowed;
   }

   .button--primary {
    @apply bg-primary hover:bg-hover-primary disabled:bg-primary;
   }

   .button--secondary {
    @apply bg-secondary hover:bg-hover-secondary disabled:bg-secondary;
   }

   .button--support {
    @apply bg-transparent text-03 hover:bg-ui-04 disabled:bg-transparent;
   }

   .button--negative {
    @apply bg-red-500 text-04 hover:bg-red-400 disabled:bg-red-500;
   }

   .button--icon {
    @apply h-8 w-8 p-1 bg-transparent text-03 hover:bg-ui-04 disabled:bg-transparent;
   }

   .button--icon-sm {
    @apply h-6 w-6 p-1 bg-transparent text-03 hover:bg-ui-04 disabled:bg-transparent;
   }

   .button--icon-sm svg {
    @apply w-[18px] h-[18px];
   }

  /* select */
   .select {
    @apply relative;
   }

   .select--sm .select-button,
   .select--sm .select-list {
    @apply h-8 text-s-sm;
   }

   .select-label {
    @apply block text-s-md text-02;
   }

   .select-button {
    @apply relative flex items-center w-full h-10 py-2 pl-3 pr-8 rounded-md text-left text-01 bg-ui-02 field-border focus:field-border-primary disabled:opacity-25 disabled:cursor-not-allowed;
   }

   .select-button-text {
    @apply block truncate text-s-md;
   }

   .select-button-icon {
    @apply absolute inset-y-0 right-0 ml-3 flex items-center pr-2;
   }

   .select-button-icon svg {
    @apply h-5 w-5 text-03;
   }

   .select-container {
    @apply z-10 hidden absolute items-start justify-center w-full mt-1 rounded-md field-border shadow-md bg-white
   }

   .select--open .select-container {
    @apply flex;
   }

   .select-container-box {
    @apply overflow-auto max-h-56 w-full py-1 focus:outline-none;
   }

   .select-list {
    @apply relative h-auto min-h-[40px] py-2 pl-3 pr-8 text-01 cursor-pointer select-none hover:bg-ui-05
   }

   .select-list-button {
    @apply flex items-center;
   }

   .select-list-button-text {
    @apply pr-1 text-s-md text-01 text-left leading-[24px];
   }

   .select-list-checkmark {
    @apply absolute inset-y-0 right-0 flex items-center pr-2 ;
   }

   .select-list-checkmark svg {
    @apply h-5 w-5 fill-primary;
   }

   .text-input {
    @apply block h-10 w-full rounded-md px-3 py-2 text-01 text-s-md field-border bg-ui-02 focus:field-border-primary placeholder:text-03 disabled:opacity-25 disabled:cursor-not-allowed;
   }

   .text-input--sm {
    @apply h-8 text-s-sm;
   }

   .checkbox {
    @apply appearance-none w-5 h-5 bg-gray-100 field-border rounded checked:bg-primary;
   }

   .checkbox-label {
    @apply relative ml-2 text-s-sm text-01 cursor-pointer;

   }

   .checkbox:checked + label::before {
    @apply content-[''] top-[2.5px] -left-[21.5px] w-[9px] h-[5px] absolute mr-1 -rotate-45 origin-bottom-right border-l-2 border-b-2 border-white border-solid;
  }

  th, td {
    @apply field-border text-left;
  }
  th {
    @apply px-3 py-2 text-02 font-semibold;
  }
  td {
    @apply align-top h-[190px];
  }

  td button {
    @apply flex flex-col p-2 align-top w-full h-full;
  }

  td button.disabled {
    @apply bg-[#EFEFEF] cursor-not-allowed;
  }

  td button.disabled .date-num{
    @apply text-05;
  }

  td button.weekend {
    @apply cursor-not-allowed;
  }

  td button.weekend .date {
    @apply justify-normal gap-3 negative;
  }

  td button.weekend .text-s-md {
    @apply leading-8;
  }

  .date {
    @apply flex justify-between items-center w-full mb-4 text-02;
  }

  .date-num {
    @apply w-8 h-8 p-1 text-center;
  }

  .date.date--today .date-num {
    @apply bg-primary rounded-md text-04;
  }

  .date-hour {
    @apply text-05 text-s-md;
  }

  .modal-overlay {
    @apply z-20 fixed inset-0 w-screen bg-gray-500/[.75];
  }

  .modal-positioner {
    @apply flex items-center justify-center min-h-full;
  }

  .modal {
    @apply bg-white rounded-md shadow-lg;
  }

  .modal-head {
   @apply w-full py-2 px-3 border-b border-[#DCE1E8] text-left text-s-md text-01;
  }

  .modal-body {
    @apply flex flex-col gap-4 px-4 py-6;
  }

  .modal-footer {
    @apply flex justify-end gap-3 w-full p-3 bg-ui-01 rounded-b-md;
  }

  .loader-overlay {
    @apply z-30 fixed inset-0 w-full h-full bg-white/[.75];
  }

  .loader {
    @apply flex items-center justify-center min-h-full;
  }

  .loader-icon {
    @apply animate-spin w-[92px] h-[92px] fill-primary
  }
}
