@mixin checkbox-size($min-height, $font-size, $padding-left) {
  min-height: $min-height;
  font-size: $font-size;
  padding-left: $padding-left;
}

.checkbox {
  position: relative;

  &-input {
    @include hidden;
    top: 4px;
    left: 2px;

    &:checked + .checkbox-label:before {
      background-color: $primary;
      border-color: $primary;
    }
    &:checked + .checkbox-label:after {
      transform: scale(1) rotate(-45deg);
    }
  }

  &-label {
    @include flex-standard($display:inline-flex);
    position: relative;
    padding-left: $spacing-24;
    min-height: 24px;
    font-size: 14px;
    line-height: 1.75;
    font-weight: 400;
    color: $font-gray-01;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    &:before,
    &:after {
      box-sizing: border-box;
      transition: all 70ms cubic-bezier(0, 0, 0.38, 0.9);
    }

    &:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      margin: $spacing-2;
      left: 0;
      top: 2px;
      background-color: $white;
      border: 1px solid $icon-gray;
    }

    &:after {
      content: "";
      position: absolute;
      left: 6px;
      top: 4px;
      width: 9px;
      height: 5px;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      background: none;
      transform: scale(0) rotate(-45deg);
      transform-origin: bottom right;
    }
  }

  &-indeterminate {
    .checkbox-input + .checkbox-label:before,
    .checkbox-input:indeterminate + .checkbox-label:before {
      border-color: $primary;
    }

    .checkbox-input + .checkbox-label:after,
    .checkbox-input:indeterminate + .checkbox-label:after {
      transform: scale(1) rotate(0deg);
      top: 8px;
      left: 6px;
      width: 8px;
      border-left-width: 0;
      border-bottom-width: 2px;
      border-color: $primary;
    }

    .checkbox-input:checked + .checkbox-label:before {
      background-color: transparent;
    }
  }

  &-lg {
    .checkbox-label {
      @include checkbox-size(28px, 15px, 28px);
      &:before {
        content: "";
        width: 20px;
        height: 20px;
        margin: $spacing-2;
        top: 2px;
        border-width: 2px;
      }

      &:after {
        left: 8px;
        top: 4px;
        width: 10px;
        height: 7px;
      }
    }
    &.checkbox-indeterminate .checkbox-input + .checkbox-label:after,
    .checkbox-input:indeterminate + .checkbox-label:after {
      ttop: 9px;
      left: 7px;
      width: 10px;
      border-left-width: 0;
      border-bottom-width: 3px;
    }
  }

  &-sm {
    .checkbox-label {
      @include checkbox-size(18px, 12px, 16px);
      &:before {
        content: "";
        width: 12px;
        height: 12px;
        margin: 1px;
        top: 3px;
        border-width: 1px;
      }

      &:after {
        left: 4px;
        top: 4px;
        width: 7px;
        height: 4px;
      }
    }

    &.checkbox-indeterminate .checkbox-input + .checkbox-label:after,
    .checkbox-input:indeterminate + .checkbox-label:after {
      top: 7px;
      left: 4px;
      width: 6px;
      border-left-width: 0;
      border-bottom-width: 2px;
    }
  }
}
