@mixin context-size($height, $min-width, $padding, $icon-size, $font-size) {
  .context-list {
    min-width: $min-width;

    .context-button {
      height: $height;
      padding: $spacing-4 $padding;

      .context-text {
        font-size: $font-size;
      }

      .svg-icon {
        width: $icon-size;
        height: $icon-size;
      }
    }
  }
}

.context {
  @include box-shadow('overlay');
  @include z-index('dropdown');
  @include list-style('context');
  border-radius: $border-radius-sm;

  &-list {
    min-width: 130px;
  }

  &-button {
    padding: $spacing-4 $spacing-8;
    height: 32px;
    line-height: 1.75;

    &.is-selected {
      .context-text {
        color: $primary;
      }

      .svg-icon {
        fill: $primary;
      }
    }

    .svg-icon {
      width: 18px;
      height: 18px;
    }
  }

  &-text {
    color: $font-gray-01;
    font-size: 13px;

  }

  &-lg {
    @include context-size(40px, 140px, $spacing-12, 20px, 14px)
  }
}
