.list {
  @include flex-standard($direction: column);
  @include list-style('list');
  border: 1px solid $border-gray;
  color: $font-gray-01;

  .list {
    &-list {
      width: 100%;
    }

    &-head {
      width: 100%;
      padding: $spacing-8;
      background-color: $light-blue;
      gap: $spacing-2;

      &-title {
        @include ellipsis;
        font-weight: 500;
        color: $font-gray-01;
        font-size: 14px;
      }
    }

    &-body {
      width: 100%;
    }

    &-options {
      @include flex-standard;
      height: 40px;
      border-bottom: 1px solid $border-gray
    }

    &-options-count {
      @include flex-standard;
      flex-shrink: 0;
      margin-left: auto;
      padding-right: $spacing-8;
      color: $font-gray-01;
      font-size: 14px;
    }

    &-options-count-selected {
      margin-right: $spacing-4;
    }

    &-options-count-all {
      margin-left: $spacing-4;
    }

    &-item {
      position: relative;
      border-bottom: 1px solid $disabled;

      &:last-child {
        border-bottom: 0;
      }
    }

    &-button {
      justify-content: flex-start;
      gap: $spacing-8;

      .svg-icon {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
      }
    }

    &-text {
      color: $font-black;
    }
  }

  .is-disabled {
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
    }
  }

  &-lg{
    @include list-style('list', 'lg');
  }
}
