.nav {
  @include flex-standard($vertical: flex-end, $horizontal: flex-start);
  height: 100%;
  gap: $spacing-4;

  &-item {
    @include flex-standard($horizontal: space-between);
    min-width: 207px;
    height: 32px;
    padding-right: $spacing-4;
    background-color: #f3f2f2;
    border-radius: $border-radius-sm $border-radius-sm 0 0;

    &.is-selected {
      background-color: $white;

      .nav-title {
        color: $font-black;
      }
    }
  }

  &-button {
    @include flex-standard($horizontal: flex-start);
    width: 100%;
    height: 100%;
    flex-grow: 1;
    gap: $spacing-4;
    padding-left: $spacing-12;

    .svg-icon{
      width: 20px;
      height: 20px;
    }
  }

  &-title {
    @include ellipsis;
    font-size: 14px;
    font-weight: 400;
    color: $font-gray-01;
  }

  &-close-button {
    @include flex-standard;
    height: 100%;
    padding: 0 $spacing-8;

    .svg-icon {
      width: 16px;
      height: 16px;
    }
  }
}
