.notification {
  @include flex-standard($vertical: flex-start, $horizontal: flex-start);
  padding: $spacing-24;
  background-color: #F7F8FA;
  width: 100%;
  gap: $spacing-12;

  &-content {
    @include flex-standard($vertical: flex-start, $direction: column);
    width: 100%;
  }

  &-body {
    @include flex-standard($vertical: flex-start, $horizontal: flex-start);
    width: 100%;
    gap: $spacing-12;
  }

  &-footer {
    @include flex-standard($horizontal: space-between);
    width: 100%;
    margin-top: $spacing-8;

    &:empty {
      margin-top: 0;
    }
  }

  &-icon {
    @include flex-standard;

    .svg-icon {
      width: 22px;
      height: 22px;
    }
  }

  &-message {
    @include flex-standard($vertical: flex-start, $direction: column);
    flex-grow: 1;
  }

  &-text {
    flex-shrink: 0;
    color: $font-gray-01;
    font-size: 14px;
  }

  &-link {
    font-size: 14px;
    color: $primary;
    text-decoration: underline;
  }

  &-page-num {
    @include flex-standard;
    font-size: 12px;
    gap: $spacing-4;
    color: $font-gray-01;

    .is-current {
      color: $font-black;
      font-weight: 700;
    }
  }

  &-normal {
    background-color: #F7F8FA;
  }

  &-info {
    background-color: #DEEBFF;
  }

  &-success {
    background-color: #E3FCEF;
  }

  &-warning {
    background-color: #FFF5EA;
  }

  &-error {
    background-color: #FFEBE6;
  }
}
