.notification{
  @include flex-standard($horizontal: flex-start);
  gap: $spacing-12;
  padding: $spacing-24;

  &-icon{
    width: 22px;
    height: 22px;
  }

  &-contents{
    @include flex-standard($vertical: flex-start, $direction: column);
    gap: $spacing-8;
  }

  &-title{
    font-size: 14px;
    color: $font-black;
  }

  &-link{
    font-size: 14px;
    color: $primary;
    text-decoration: underline;
  }
}
