.rating {
  @include flex-standard($horizontal: flex-start, $direction: row-reverse);

  &-input {
    @include hidden-text;

    &:checked,
    &:hover:not(:disabled) {
      & ~ .rating-label {
        .svg-icon {
          path {
            fill: #FFA800;
            d: path('m3.825 20 1.625-7.395L0 7.632l7.2-.658L10 0l2.8 6.974 7.2.658-5.45 4.973L16.175 20 10 16.079 3.825 20Z') !important;
          }
        }
      }
    }
  }

  &-label {
    padding: 0 $spacing-2;
    cursor: pointer;

    .svg-icon {
      width: 20px;
      height: 20px;
      fill: $icon-gray;
    }
  }
}
