.select {
  position: relative;

  &.is-open {
    .select-selector {
      &-button {
        border-color: $tertiary;

        &:hover:not(:disabled) {
          border-color: $tertiary;
        }
      }

      &-icon {
        transform: rotate(-180deg);
      }
    }

    .select-container {
      display: block;
    }

    &.is-disabled {
      .select-selector-icon {
        transform: none;
      }

      .select-container {
        display: none;
      }
    }
  }

  &.is-disabled {
    .select-selector {
      &-button {
        opacity: 0.25;
        cursor: not-allowed;
        box-shadow: none;

        &:hover:not(:disabled),
        &:hover:active,
        &:hover:focus {
          box-shadow: none;
          cursor: not-allowed;
          border: 1px solid $gray;
        }

        &:focus {
          box-shadow: none;
        }

        &:focus-visible:not(:disabled) {
          box-shadow: none;
          outline: none;
          pointer-events: none;
        }
      }
    }
  }

  &-lg {
    .select-selector {
      height: 40px;

      &-button {
        padding-right: 36px;

        .select-selector-title {
          font-size: 15px;
        }

        .svg-icon {
          width: 24px;
          height: 24px;
          margin-top: -$spacing-12;
        }
      }
    }

    .select-container {
      &-button {
        height: 40px;
        padding: $spacing-4 $spacing-12;
      }

      &-text {
        font-size: 14px;
      }
    }
  }

  &-sm {
    .select-selector {
      height: 24px;

      &-button {
        padding-left: $spacing-8;
        padding-right: $spacing-24;

        .svg-icon {
          width: 16px;
          height: 16px;
          right: 8px;
          margin-top: -$spacing-8;
        }
      }

      &-title {
        font-size: 12px;
      }
    }

    .select-container {

      &-button {
        padding: $spacing-2 $spacing-4;
        height: 24px;
      }

      &-text {
        font-size: 12px;
      }
    }
  }
}

.select-selector {
  position: relative;
  height: 32px;


  &-button {
    @include flex-standard($horizontal: flex-start);
    width: 100%;
    height: 100%;
    padding: $spacing-4 $spacing-32 $spacing-4 $spacing-12;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: $border-radius-sm;

    &:hover:not(:disabled) {
      border-color: $icon-gray;
    }

    &:active:not(:disabled) {
      border-color: $tertiary;
    }
  }

  &-title {
    @include ellipsis;
    font-size: 14px;
    color: $font-gray-01;
  }

  &-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 8px;
    transform: none;
    pointer-events: none;

    &-button {
      @include flex-standard;
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
    }

    &-button .select-selector-icon {
      position: static;
      margin-top: 0;
    }
  }
}

// select panel(dropdown)
.select-container {
  @include box-shadow('default');
  @include z-index('modal');
  display: none;
  position: absolute;
  top: calc(100% + 2px);
  width: 100%;
  max-height: 320px;
  background-color: $white;
  border-radius: $border-radius-sm;
  border: 1px solid $border-gray;
  overflow: auto;

  &-list {
    //background-color: $white;
    @include list-style('select-container');
  }

  &-item {
    //@include flex-standard;
    //&:hover:not(:disabled) {
    //  background-color: $light-blue;
    //}
    &:active:not(:disabled) {
      //background-color: $light-blue;

      .select-container-text {
        color: $tertiary;
      }
    }
  }

  &-text {
    //@include ellipsis;
    //font-size: 14px;
    font-weight: 500;
    color: $font-black;
  }

  &-button {
    //@include flex-standard($horizontal: flex-start);
    flex: 1;
    height: 32px;
    padding: $spacing-4 $spacing-8;
  }

  .is-open {
    display: block;
  }
}
