.table-col,
.table-row {
  table {
    td,
    th {
      width: unset;
      padding: $spacing-2 $spacing-8;
      color: $font-black;
      vertical-align: middle;
      border: 1px solid $border-gray;
      text-align: left;
    }

    th {
      font-size: 14px;
      background-color: #EFEFEF;
    }

    td {
      font-size: 14px;
      background-color: $white;
    }

    tr {
      height: 56px;
    }
  }
}

.table-scroll {
  overflow: auto;
  width: 100%;
  max-width: 100%;

  table {
    table-layout: fixed;

    td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.table-nesting {
  td {
    padding: $spacing-8 !important;
  }
}
