.tag {
  @include flex-standard;
  flex-shrink: 0;
  height: 32px;
  padding: 0 $spacing-8;
  background: $disabled;
  border-radius: $border-radius-sm;
  color: $icon-gray;
  font-size: 14px;
  font-weight: 500;
}

.tag-removable {
  @include flex-standard;
  gap: $spacing-4;
  height: 40px;
  padding: 0 $spacing-8;
  background: $disabled;
  border-radius: $border-radius-lg;

  .tag {
    height: 100%;
    padding: 0;
    color: $black;
    font-size: 16px;
  }
}
