.toggle {
  @include flex-standard;

  .radio {
    margin: 0 0 0 -1px;

    &:first-child {
      .radio-label {
        border-top-left-radius: $border-radius-sm;
        border-bottom-left-radius: $border-radius-sm;
      }
    }

    &:last-child {
      .radio-label {
        border-top-right-radius: $border-radius-sm;
        border-bottom-right-radius: $border-radius-sm;
      }
    }

    &-label {
      height: 32px;
      padding: 0 $spacing-12;
      font-size: 14px;
      background-color: $white;
      color: $font-gray-01;
      border: 1px solid $border-gray;

      &:after,
      &:before {
        content: none;
      }
    }

    &-input {

      &:checked {
        + .radio-label {
          z-index: z("float");
          background-color: $primary;
          border-color: $primary;
          color: $white;

          .svg-icon {
            fill: $white;
          }
        }
      }
    }
  }

  &-lg {
    .radio-label {
      padding: 0 $spacing-16;
      height: 40px;
      font-size: 15px;
    }
  }

  &-sm {
    .radio-label {
      padding: 0 $spacing-8;
      height: 24px;
      font-size: 12px;
    }
  }

  &-icon {
    .radio {
      &-label {
        width: 32px;
        padding: 0 5px;
        justify-content: center;
      }
    }

    &.toggle-lg {
      .radio-label {
        width: 40px;
        padding: 0 7px;
      }
    }

    &.toggle-sm {
      .radio-label {
        width: 24px;
        padding: 0 3px;
      }
    }
  }
}



