// -------------------------
// Tooltip - Studio
// -------------------------
.tooltip {
  @include box-shadow('overlay');
  @include z-index('tooltip');
  position: absolute;
  max-width: 480px;
  padding: $spacing-12;
  background-color: $icon-gray;
  border-radius: $border-radius-sm;
  //transition-duration: $duration-fast-02;
  transition-timing-function: ease-in-out;

  &-arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: $icon-gray;
    border: 1px solid $icon-gray;
    transform: rotate(45deg);
    content: "";
  }

  &-inner {
    display: flex;
    flex-direction: column;
  }

  &-title {
    font-size: 14px;
    font-weight: 600;
    //@include line-height("heading");
    color: $white;
  }

  &-text {
    font-size: 14px;
    //@include line-height("body");
    color: $white;
    white-space: nowrap;
    a {
      color: $white;
    }
  }

  // Tooltip 위로 위치
  &-top {
    .tooltip-arrow {
      top: calc(100% - 4px);
      left: 50%;
      margin-left: -$spacing-4;
      border-width: 0 1px 1px 0;
    }
  }

  // // Tooltip 아래로 위치
  &-bottom {
    .tooltip-arrow {
      top: -4px;
      left: 50%;
      margin-left: -$spacing-4;
      border-width: 1px 0 0 1px;
    }
  }

  // Tooltip 왼쪽으로 위치
  &-left {
    .tooltip-arrow {
      top: 50%;
      right: -4px;
      margin-top: -$spacing-4;
      border-width: 1px 1px 0 0;
    }
  }

  // Tooltip 오른쪽으로 위치
  &-right {
    .tooltip-arrow{
      top: 50%;
      left: -4px;
      margin-top: -$spacing-4;
      border-width: 0 0 1px 1px;
    }
  }

  &-top-right {
    .tooltip-arrow {
      top: calc(100% - 4px);
      right: 12px;
      border-width: 0 1px 1px 0;
    }
  }

  &-top-left {
    .tooltip-arrow {
      top: calc(100% - 4px);
      left: 12px;
      border-width: 0 1px 1px 0;
    }
  }

  &-bottom-right {
    .tooltip-arrow {
      top: -4px;
      right: 12px;
      border-width: 1px 0 0 1px;
    }
  }

  &-bottom-left {
    .tooltip-arrow {
      top: -4px;
      left: 12px;
      border-width: 1px 0 0 1px;
    }
  }

  &-right-top {
    .tooltip-arrow {
      top: 8px;
      left: -4px;
      border-width: 0 0 1px 1px;
    }
  }

  &-right-bottom {
    .tooltip-arrow {
      bottom: 8px;
      left: -4px;
      border-width: 0 0 1px 1px;
    }
  }

  &--left-top {
    .tooltip-arrow {
      top: 8px;
      right: 4px;
      border-width: 1px 1px 0 0;
    }
  }

  &-left-bottom {
    .tooltip-arrow {
      bottom: 8px;
      right: -4px;
      border-width: 1px 1px 0 0;
    }
  }
}
