.tree {
  .node-text {
    @include ellipsis(100%);
  }

  .checkbox-wrapper.checked, .checkbox-wrapper.indeterminate {
    background: $primary !important;
    border: 2px solid $primary !important;
  }

  .icon-wrapper, .svg-icon {
    flex-shrink: 0;
  }
}
