@mixin dropdown-size($font-size: null, $size: 32px, $icon-size: 18px) {
  .dropdown-item {
    height: $size;

    .dropdown-button {
      > .svg-icon {
        @include icon-size($icon-size);
      }

      .dropdown-text {
        @if $font-size != null {
          @include font-size($font-size);
        }
      }
    }
  }
}

.dropdown {
  @include dropdown-size;
  @include box-shadow('md');

  position: absolute;

  .dropdown-item {
    .checkbox-label::after {
      top: 7px;
    }

    &-line {
      border-top: 1px solid $neutral-100;
    }

  }

  // Size
  &-lg {
    @include dropdown-size($size: 36px, $icon-size: sm);

    .dropdown-item {
      .checkbox-label::after {
        top: 9px;
      }
    }
  }

  &-sm {
    @include dropdown-size($font-size: '13', $size: 28px);

    .dropdown-item {
      .checkbox {
        @extend .checkbox-sm;

        .checkbox-label::after {
          top: 5px;
        }
      }
    }
  }
}