//컨텐츠 편집이 가능한 공통 UI
.editable-group {
  @include flex($horizontal: flex-start, $gap: $spacing-4);

  width: 100%;

  &:has(.editable-group-desc) {
    display: inline;
  }

  &:has(.textarea) {
    @include flex($direction: column, $vertical: flex-end, $gap: $spacing-8);
  }

  &:has(.tag) {
    flex-wrap: wrap;
  }

  &-title {
    @include font-size('15');

    color: $secondary-500;
    font-weight: 600;
    word-break: break-all;
  }

  &-desc {
    display: inline;
    vertical-align: middle;
    word-break: break-all;

    & + .button {
      display: inline;
      vertical-align: middle;
    }
  }
}
