.modal-overlay {
  @include flex;
  z-index: 8001;
  background-color: rgba(36, 46, 61, 0.35);
}

.modal {
  @include z-index('modal');
  @include box-shadow('lg');

  display: flex;
  flex-direction: column;

  // width: 620px;
  background: $neutral-0;
  border-radius: $border-radius-12;

  &-head {
    @include flex($horizontal: space-between);

    flex-shrink: 0;
    padding: $spacing-16 $spacing-16 $spacing-12;

    &-text {
      display: flex;
      align-items: center;
      gap: $spacing-4;
    }

    &-title {
      @include font-size('16');

      font-weight: 600;
    }

    &-subtitle {
      @include font-size('15');

      font-weight: 400;
      color: $neutral-500;
    }
  }

  &-body {
    @include flex($direction: column);

    flex-grow: 1;
    width: 100%;
    height: 100%;

    .form {
      width: 100%;

      .select {
        width: 100%;
      }
    }
    .tab {
      width: 100%;

      &-list {
        height: 40px;
      }

      &-button {
        @include font-size('14');
        height: 40px;

      }
    }
  }

  &-foot {
    @include flex($horizontal: space-between);

    gap: $spacing-8;
    padding: $spacing-12 $spacing-16 $spacing-16;

    &-group {
      display: flex;
      gap: $spacing-8;

      &:only-child {
        margin-left: auto;
      }
    }

    &:has(> .button + .button) {
      .button {
        flex: 1;
      }
    }
  }

  $modal-padding-map: (
          "16": $spacing-16,
          "32": $spacing-32,
          "48": $spacing-48
  );

  @each $value, $padding in $modal-padding-map {
    &-padding-#{$value} {
      .modal-body {
        padding: $padding;
      }
    }
  }
}
