table {
  width: 100%;
  border: 1px solid $neutral-200;

  caption {
    @include caption-out;
  }

  &.align-center th,
  &.align-center td {
    text-align: center;
  }

  th, td {
    padding: $spacing-12;
    border-right: 1px solid $neutral-200;
    border-bottom: 1px solid $neutral-200;
    color: $neutral-700;
    vertical-align: middle;
    overflow-wrap: break-word;
    word-break: keep-all;
  }

  th {
    background-color: $neutral-100;
    text-align: left;
  }

  td {
    background-color: $neutral-0;

    &:has(.table-data) {
      padding: 0;
    }
  }

  .button-group {
    @include flex();
    gap: $spacing-16;

    .button {
      position: relative;
    }

    .button:not(:last-child)::after {
      content: "";
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 50%;
      background-color: $neutral-200;
    }
  }
}

.l-top-bar + table {
  margin-top: $spacing-8;
}

.search-input + table {
  margin-top: $spacing-8;
}

.table-scroll {
  overflow: auto;
  height: 100%;

  td {
    word-break: break-all;
  }
}