@mixin tag-color($color, $bg, $border: transparent, $box-shadows: false, $color-hover: null, $bg-hover: null,$border-hover: null, $color-selected: null, $bg-selected: null,$border-selected: null) {
  background-color: $bg;
  border: 1px solid $border;

  @if $box-shadows {
    @include box-shadow('sm');
  }

  .tag-link,
  .tag-text {
    color: $color;
  }

  .tag-delete-button > .svg-icon {
    @include icon-color($color);
  }

  &:hover {
    background-color: $bg-hover;
    border-color: $border-hover;

    .tag-link,
    .tag-text {
      color: $color-hover;
    }

    .tag-delete-button > .svg-icon {
      @include icon-color($color-hover);
    }
  }

  &.is-tag-selected, &.is-tag-selected:hover {
    color: $color-selected;
    background-color: $bg-selected;
    border-color: $border-selected;

    .tag-link,
    .tag-text {
      color: $color-selected;
    }

    .tag-delete-button > .svg-icon {
      @include icon-color($color-selected);
    }
  }
}

.tag {
  @include flex($gap: $spacing-8);

  height: 28px;
  padding: 0 $spacing-12;
  border-radius: $border-radius-15;
  transition: background-color 0.2s;

  &-link,
  &-text {
    @include font-size('13');

    font-weight: 600;
  }

  &-link {
    cursor: pointer;
  }

  &-delete-button {
    @include flex;

    width: 14px;
    height: 14px;

    .svg-icon {
      width: 14px;
      height: 14px;
    }
  }

  &:hover:has(.tag-delete-button:hover) {
    background: $error-100;
    border: 1px solid $error-500;

    .tag-link,
    .tag-text {
      color: $error-500;
    }

    .tag-delete-button > .svg-icon {
      @include icon-color($error-500);
    }
  }

  &.is-tag-disabled, &.is-tag-disabled:hover:has(.tag-delete-button:hover) {
    border: none;
    box-shadow: none;
    background: $neutral-100;
    cursor: not-allowed;

    .tag-link,
    .tag-text {
      color: $neutral-300;
      cursor: not-allowed;
    }

    .tag-delete-button {
      cursor: not-allowed;

      .svg-icon {
        @include icon-color($neutral-300);
      }
    }
  }

  &-sm {
    gap: $spacing-4;
    height: 24px;
    padding: 0 $spacing-8;

    .tag-link,
    .tag-text {
      @include font-size('12');
    }

    .tag-delete-button {
      width: 12px;
      height: 12px;

      .svg-icon {
        width: 12px;
        height: 12px;
      }
    }
  }

  // Color Theme
  &-primary {
    @include tag-color($color: $primary-500, $bg: $neutral-0, $border: $neutral-200, $box-shadows: true, $border-hover: $primary-300, $bg-selected: $primary-100, $border-selected: $primary-500);

    &-lighter {
      @include tag-color($color: $primary-500, $bg: $primary-100, $border-hover: $primary-500, $color-selected: $neutral-0, $bg-selected: $primary-500);
    }
  }

  &-neutral {
    @include tag-color($color: $neutral-500, $bg: $neutral-0, $border: $neutral-200, $box-shadows: true, $border-hover: $neutral-400, $color-selected: $neutral-800, $bg-selected: $neutral-100, $border-selected: $neutral-900);
  }
}
