.filters {
  @include flex($horizontal:flex-start);
  gap: $spacing-16;
  width: 100%;
  height: 48px;
  padding: $spacing-8 $spacing-20;
  background: $neutral-0;
  border-bottom: 1px solid $neutral-200;
}

.data-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  flex: 1;
}

.pagination {
  margin-top: $spacing-12;
}

.side-preview {
  width: 500px;
  background: #fff;
}


