$font-families: (
        pretendard:
        unquote(
                        "'pretendard', 'Segoe UI', 'Open Sans', 'Helvetica Neue'"
        ),
        mono:
        unquote(
                        "'Consolas', 'Menlo', 'Courier', 'monospace'"
        )
);

@mixin font-family($family-name) {
  @if map-has-key($font-families, $family-name) {
    font-family: #{map-get($font-families, $family-name)};
  } @else {
    @warn "#{$family-name} 값이 올바르지 않습니다.";
  }
}

// * Usage *
// html {
//   @include font-family('sans');
// }

// TODO: [퍼블리싱] 믹스인/변수 재정의 및 리팩토링
// -------------------------------------------
//  Heading
// ------------------------------------------
// heading size : 40px,32px,24px

// @mixin heading($size) {
//  font-size: $size;
//  line-height: 1.2;
//  font-weight: 700;
// }

// -------------------------------------------
//  font-size + line-height
// ------------------------------------------
@mixin font-size($size) {
  $font-size: (
          "12": (font-size: 12px, line-height: 18px),
          "13": (font-size: 13px, line-height: 20px),
          "14": (font-size: 14px, line-height: 20px),
          "15": (font-size: 15px, line-height: 24px),
          "16": (font-size: 16px, line-height: 24px),
          "18": (font-size: 18px, line-height: 24px),
          "20": (font-size: 20px, line-height: 28px),
          "24": (font-size: 24px, line-height: 32px),
          "28": (font-size: 28px, line-height: 36px),
          "32": (font-size: 32px, line-height: 40px),
          "40": (font-size: 40px, line-height: 48px)
  );

  @if map-has-key($font-size, $size) {
    $properties: map-get($font-size, $size);

    font-size: map-get($properties, font-size);
    line-height: map-get($properties, line-height);
  } @else {
    @warn '지정된 폰트 크기가 아닙니다. 다시 한번 확인해주세요.';
  }
}

// * Usage *
// html {
//   @include font-size('13');
// }


