// -------------------------------------------
// flex 상하 좌우 정렬
// -------------------------------------------
@mixin flex(
  $display: flex,
  $vertical: center,
  $horizontal: center,
  $direction: null,
  $gap: null
) {
  display: $display;
  align-items: $vertical;
  justify-content: $horizontal;
  flex-direction: $direction;

  @if $gap != null {
    gap: $gap;
  }
}

// -------------------------------------------
// 한 줄 말줄임
// -------------------------------------------
@mixin ellipsis($width: null) {
  display: block;

  @apply truncate;

  @if $width {
    width: $width;
  }
}

// -------------------------------------------
// 한 줄 이상 말줄임
// @include ellipsis-multi(line-height 값, 줄 수)
// -------------------------------------------
@mixin ellipsis-multi($line-height: 1.2, $lines: 2) {
  display: -webkit-box;
  overflow: hidden;
  max-height: $line-height * $lines;
  line-height: $line-height;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

// -------------------------------------------
// 숨김
// -------------------------------------------
@mixin hidden-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

@mixin hidden-input {
  @include hidden-text;

  top: 0;
  left: 0;
}

// -------------------------------------------
// table caption 숨김
// -------------------------------------------
@mixin caption-out {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

// -------------------------------------------
// IE10+ 크로스브라우징
// -------------------------------------------
@mixin ie-resolution {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}
