$z-indexes: (
        alert: 9000,
        modal: 8000,
        overlay: 7500,
        header: 7000,
        dropdown: 6900,
        tooltip: 6500,
        float: 1,
        hidden: - 1
);

@mixin z-index($layer) {
  @if map-has-key($z-indexes, $layer) {
    z-index: #{map-get($z-indexes, $layer)};
  } @else {
    @warn "#{$layer} 값이 올바르지 않습니다.";
  }
}

// * Usage *
// .modal {
//   @include z-index('alert');
//  }
