.select-search {
  .select-indicator {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.is-select-open {
    .select-indicator {
      transform: translateY(-50%) rotate(-180deg);
    }
  }

  &.select-lg {
    .text-input {
      @extend .text-input-lg;
    }
  }
  &.select-sm {
    .text-input {
      @extend .text-input-sm;
    }
  }

}