@tailwind base;

/* reset */
@layer base {
  * {
    outline: none;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  html, body, #__nuxt, #wrap {
    height: 100%;
  }

  input:focus {
    outline: none;
  }

  button[type="button"], button[type="submit"], a[href], input[type="text"] {
    &:disabled,
    &:disabled:hover,
    &:disabled:focus {
      opacity: 0.25;
      cursor: not-allowed;
    }
  }
}
