@tailwind base;

/* reset */
@layer base {
  * {
    outline:none;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: "'NotoSansKR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', helvetica,'Apple SD Gothic Neo',sans-serif"
  }

  input:focus {
    outline: none;
  }
}
