.menu-data {
    border: none;

  .search-input {
    flex-grow: 1;
  }

  .filters {
    @include flex($horizontal: space-between);
    gap: 0;
    position: static;
    padding: 0;
    margin-top: $spacing-8;
  }

  .menu-head {
    border-bottom: none;
  }

  .menu-list {
    margin: 0 $spacing-8;
  }

  .menu-item {
    border:1px solid $neutral-200;
  }

}