.filters {
  @include flex($horizontal: flex-start, $gap: $spacing-4);
  width: 100%;
}

//데이터 상세 > 리니지
.lineage {
  .filters {
    @include z-index('float');
    position: absolute;
    gap: $spacing-16;
    padding: $spacing-8 $spacing-20;
  }
}

//menu-data ui
.menu-data {
  .filters {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-top: $spacing-8;

    .select-button {
      padding: 0 $spacing-4;
    }
  }
}
