.menu-data {
  border: none;

  .search-input {
    flex-grow: 1;
  }

  .menu-head {
    border-bottom: none;
  }

  .menu-list {
    overflow-y: auto;
    flex-grow: 1;
    padding: $spacing-2 $spacing-8;
  }

  .menu-item {
    position: relative;
    background: #F7F9FC;
    border-radius: $border-radius-4;
    border: 1px solid $neutral-200;

    &:not(:first-child) {
      margin-top: $spacing-4;
    }

    .menu-data-icon {
      @include icon-size('sm');
      margin-right: $spacing-4;
    }
  }

  &.menu-lg {
    .menu-item {
      .menu-data-icon {
        @include icon-size('md');
        margin-right: $spacing-8;
      }
    }
  }
}

.accordion-list {
  .menu-data {
    background: transparent;
  }

  .menu-list {
    padding: 0;
  }
}
