.menu-search {
  position: absolute;
  min-width: 200px;

  .menu-list {
    max-height: 165px;
    overflow-y: auto;
  }

  .menu-foot {
    display: flex;
    align-items: center;
    padding: $spacing-8 $spacing-12;

    &-group {
      display: flex;
      gap: $spacing-8;
      margin-left: auto;
    }
  }
}