.type-img {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &-maria {
    background-image: url("../images/storage-type_01.png");
  }

  &-mysql {
    background-image: url("../images/storage-type_02.png");
  }

  &-postgre {
    background-image: url("../images/storage-type_03.png");
  }

  &-oracle {
    background-image: url("../images/storage-type_04.png");
  }

  &-minio {
    background-image: url("../images/storage-type_06.png");
  }
}

.menu-lg {
  .type-img {
    width: 28px;
    height: 28px;
  }
}