.main-content {
  @include flex($direction: column, $horizontal: flex-start);
  width: 50%;
  gap: $spacing-8;
  background-color: $neutral-0;
  min-height: 582px;
  padding: 0 $spacing-12 $spacing-12;

  &-title {
    @include font-size('18');
    font-weight: 600;
    color: $neutral-800;

    &:before {
      content: url("../../assets/images/icon/double-circle.svg");
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: $spacing-8;
    }
  }

  .no-result {
    border: 1px dashed $neutral-200;
  }
}
