.profile-box {
  @include flex($vertical: flex-start, $horizontal: flex-start, $gap: $spacing-16);

  width: 100%;
  padding: $spacing-16;
  border-bottom: 1px solid $neutral-200;

  .profile-name {
    @include font-size('16');

    font-weight: 600;
    color: $neutral-800;
  }

  & + .tab-line {
    margin: $spacing-20 $spacing-16 0;
    flex-grow: 1;
    width: 100%;
    min-height: 700px;

    .tab-list {
      width: fit-content;
    }

    .tab-contents {
      width: 100%;
      height: calc(100% - 50px);

      .search-input {
        margin-bottom: $spacing-8;
      }

      .no-result {
        height: calc(100% - 36px);
      }

      .l-split {
        height: inherit;
      }
    }
  }
}

.profile-group {
  @include flex($direction: column, $vertical: flex-start, $horizontal: flex-start, $gap: $spacing-16);
  @include font-size('14');

  flex-grow: 1;
  color: $neutral-600;

  .profile-list {
    @include flex;

    .profile-title {
      flex-shrink: 0;
      position: relative;
      width: 75px;
      font-weight: 600;

      &::after {
        content: "";
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 10px;
        background-color: $neutral-300;
      }
    }
  }
}