.resource-box-full + .tab {
  margin-top: $spacing-32;
  flex-grow: 1;
  height: 100%;

  .tab-list {
    flex-shrink: 0;
  }

  .tab-button {
    padding: 0;
  }

  .tab-contents {
    height: 100%;
  }
}

.interaction-buttons {
  @include flex;

  gap: $spacing-8;
  position: absolute;
  right: 32px;
  top: 32px;
}

.data-detail {
  display: flex;
  flex-direction: column;
  gap: $spacing-12;
  height: 100%;
  padding: $spacing-16 0;

  &-list {
    @include flex($direction: column, $horizontal: flex-start);

    gap: $spacing-12;
    height: 100%;
    padding: $spacing-4;
    overflow-y: auto;
  }
}

//----------------------------
//데이터 상세 - 탭 페이지
//----------------------------
.data-detail-group {
  display: flex;
  gap: $spacing-12;

  &:has(.knowledge) {
    overflow: hidden;
    height: 100%;

    .knowledge {
      width: 60%;
      height: 100%;
      min-height: 680px;

      //임시 스타일
      border: 1px solid $neutral-200;
      background: $neutral-100;
    }

    .data-detail-list {
      width: 40%;
      height: 100%;
    }
  }

  &:has(.profiling) {
    flex-direction: column;
    height: 100%;

    .profiling {
      display: flex;
      overflow: auto;
      height: 100%;
      min-height: 350px;
    }
  }

  &:has(.recommend) {
    flex-direction: column;
    width: 100%;

    .recommend {
      display: flex;
      gap: $spacing-12;

      .resource-box {
        width: 50%;
      }
    }
  }
}

.query {
  display: flex;
  flex-direction: column;

  &-date {
    padding: $spacing-12 $spacing-16;
    color: $neutral-500;
    background: $neutral-100;
  }

  & + & {
    margin-top: $spacing-24;
  }

  .code-box {
    @include box-shadow('sm');

    overflow-y: auto;
    width: 100%;
    min-height: 250px;
    border: 1px solid $neutral-100;
  }
}

.lineage {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 680px;
  border: 1px solid $neutral-200;
  background-repeat: repeat;
  background-color: #fff;
  background-image: linear-gradient(to bottom, transparent, transparent 15%, #fff 10%), linear-gradient(to right, $neutral-300, $neutral-300 15%, #fff 10%);
  background-size: 10px 10px;

  .filters {
    @include z-index('float');
  }


  .preview {
    @include box-shadow('lg');

    z-index: 2;
    position: absolute;
    right: 0;
    width: 375px;

    &-title:hover {
      text-decoration: underline;
    }
  }

  &-control {
    @include flex($direction: column);

    position: absolute;
    bottom: 16px;
    left: 16px;

    .button-neutral-stroke:hover {
      border: 1px solid $neutral-200;
    }

    &-zoom-in {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-width: 0;
    }

    &-zoom-out {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}






