.submit-form {
  @include flex($direction: column, $gap: $spacing-48);

  height: 100%;
  background: linear-gradient(to bottom, rgb(189 227 255 / 20%), rgb(51 152 164 / 30%));

  &-logo {
    .logo {
      width: 300px;
      height: 50px;
    }
  }

  &-title {
    @include font-size('20');

    font-weight: 700;
    color: $neutral-700;
  }

  &-desc {
    @include font-size('13');

    position: relative;
    padding-top: $spacing-16;
    color: $neutral-500;

    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 1px;
      top: 8px;
      left: 0;
      background-color: $neutral-200;
    }
  }

  &-form {
    @include flex($vertical: flex-start, $direction: column);

    width: 400px;
    padding: $spacing-40 $spacing-36;
    background-color: $neutral-0;
    border-radius: $border-radius-12;

    .form {
      width: 100%;
      padding-top: $spacing-24;
    }
  }
}
