.accordion {
  width: 100%;
  border: 1px solid $neutral-200;
  background-color: $neutral-100;
  border-radius: $spacing-4;

  &-head {
    @include flex($direction: row, $horizontal: space-between, $vertical: center);
    width: 100%;
    padding: $spacing-8 $spacing-12;
  }

  &-head-title {
    font-weight: 600;
    color: $neutral-600;
  }

  &-body {
    padding: $spacing-8 $spacing-12;
  }

  .svg-icon {
    transition: transform 0.3s;
  }
}

.is-accordion-open .svg-icon {
  transform: rotate(180deg);
}