@mixin notification-box-color($bg: null, $border: null, $icon-color: null) {
  background-color: $bg;
  border-color: $border;
  .notification-icon {
    @include icon-color($icon-color);
  }
}

.notification-box {
  @include flex($direction: column, $vertical: stretch);
  @include box-shadow('md');
  gap: $spacing-8;
  padding: $spacing-12;
  background-color: $neutral-0;
  border-radius: $border-radius-4;
  border: 1px solid $neutral-200;

  &-group {
    @include flex($vertical: flex-start, $horizontal: space-between);
    gap: $spacing-8;

    &:only-child {
      align-items: center;
    }
  }

  &-info {
    @include notification-box-color($bg: $info-100, $border: $info-300, $icon-color: $info-500);
    @include box-shadow('sm');
  }

  &-warning {
    @include notification-box-color($bg: $warning-100, $border: $warning-300, $icon-color: $warning-500);
    @include box-shadow('sm');
  }

  &-success {
    @include notification-box-color($bg: $success-100, $border: $success-300, $icon-color: $success-500);
    @include box-shadow('sm');
  }

  &-error {
    @include notification-box-color($bg: $error-100, $border: $error-300, $icon-color: $error-500);
    @include box-shadow('sm');
  }
}
