.tab {
  display: flex;
  flex-direction: column;

  &-list {
    display: flex;
    height: 52px;
  }

  &-item {
    flex: 1 1 100%;
    border: 1px solid $neutral-200;
    border-bottom-color: $primary-500;

    &:not(:last-child) {
      border-right-width: 0;
    }

    &.is-tab-item-selected {
      border-right-width: 1px;
      border-color: $primary-500;
      border-bottom-color: transparent;

      .tab-button {
        background: $neutral-0;
        color: $primary-500;

        &:active {
          background: $primary-100;
        }
      }
    }

    &.is-tab-item-disabled {
      .tab-button {
        cursor: not-allowed;
        background: $neutral-100;
        color: $neutral-200;

        &:active {
          background: $neutral-100;
        }
      }
    }
  }

  &-button {
    @include font-size('16');
    @include flex;

    width: 100%;
    height: 100%;
    padding: 0 $spacing-48;
    background: $neutral-100;
    color: $neutral-400;

    &:active {
      background: $neutral-200;
    }

    &-text {
      @include ellipsis;

      font-weight: 600;
    }
  }

  &.tab-line {
    width: fit-content;

    .tab-list {
      height: auto;
      gap: $spacing-16;
      border-bottom: 2px solid $neutral-200;

    }

    .tab-item {
      border: none;

      &.is-tab-item-selected {
        position: relative;

        &::before {
          position: absolute;
          content: '';
          height: 2px;
          width: 100%;
          bottom: -2px;
          background: $primary-500;
        }

        .svg-icon {
          color: $primary-500;
        }

        .tab-button-count {
          background: $primary-100;
          color: $primary-500;
        }
      }
    }

    .tab-button {
      gap: $spacing-4;
      background: transparent;
      padding: $spacing-12 0;

      &:active {
        background: transparent;
      }

      &-text {
        font-weight: 400;
      }

      .svg-icon {
        width: 16px;
        height: 16px;
      }

      &-count {
        @include flex($direction: column);

        height: $spacing-20;
        padding: 0 $spacing-6;
        border-radius: 50%;
        font-size: 13px;
        font-weight: 600;
        color: $neutral-300;
        background: $neutral-100;
      }
    }
  }

  &-contents {
    padding: $spacing-16;
  }
}

