@tailwind utilities;

@layer utilities {
  .primary {
    @include icon-color($primary-500);
  }

  .secondary {
    @include icon-color($secondary-500);
  }

  .bg-neutral-100 {
    background-color: $neutral-100;
  }

  .text-neutral-700 {
    color: $neutral-700;
  }

  .h-full {
    height: 100% !important;
  }

  .text-md {
    @include font-size('16');
  }

  .text-lg {
    @include font-size('18');
  }

  .text-xl {
    @include font-size('20');
  }

  .text-2xl {
    @include font-size('24');
  }
}
