.result-split {
  @include flex-standard($vertical: stretch);
  width: 100%;
}

.result-detail {
  @include flex-standard($vertical: flex-start, $direction: column);
  gap: $spacing-28;
  flex-grow: 1;
}

.preview {
  width: 878px;
  flex-shrink: 0;
}

.category-name {
  @include flex-standard;
  height: 40px;
  padding: 0 $spacing-24;
  font-size: 18px;
  color: $font-gray-01;
  border-radius: 10px;
  border: 1px solid $border-gray;
  user-select: none;
}
