// TODO: [퍼블리싱] 변수 재정의 및 리팩토링
$directions: (
        "vertical": v,
        "hozizontal": h
);

@each $attr, $direction in $directions {
  .#{$direction}-group {
    @if $attr == "vertical" {
      @include flex-standard($vertical: flex-start, $direction: column);
    } @else {
      @include flex-standard($horizontal: flex-start);
    }
  }
}

.ellipsis {
  @include ellipsis;
}

.ellipsis-multi {
  @include ellipsis-multi;
}

.hidden-text {
  @include hidden-text;
}

.caption-out {
  @include caption-out;
}

.svg-icon {
  width: 20px;
  height: 20px;
}
