// svg-icon 사이즈 믹스인
@mixin icon-size($size) {
  $sizes: (
          xs: 16px,
          sm: 20px,
          md: 24px,
          lg: 28px,
          xl: 32px
  );

  $width: null;
  $height: null;

  @if type-of($size) == number {
    $width: $size;
    $height: $size;
  }

  @else if map-has-key($sizes, $size) {
    $width: map-get($sizes, $size);
    $height: $width;
  }

  @else {
    $width: $size;
    $height: $size;
  }

  width: $width;
  height: $height;
}

// * Usage *
// .svg-icon {
//   @include icon-size('sm'); or
//   @include icon-size(40px);
//  }


// 컬러 믹스인 (임시)
@mixin icon-color($color) {
  fill: $color;
  color: $color;
}

// * Usage *
// .svg-icon {
//   @include icon-color($primary-500);
//  }


.svg-icon {
  @include icon-size('sm');
  @include icon-color($neutral-500);
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;

  // TODO: [퍼블리싱] 추후 아이콘 컬러 제한적 사용시 컬러도 믹스인(icon-color) 추가 할 것

  &-primary {
    @include icon-color($primary-500);
  }

  &-secondary {
    @include icon-color($secondary-500);
  }
}