#wrap {
  min-width: 1920px;
  display: flex;
  flex-direction: column;

  &.is-have-tab {
    height: 100%;

    #header {
      height: auto;
      position: static;
    }

    #main {
      height: calc(100% - 96px);
    }
  }
}
