.card-simple {
  @include flex-standard($vertical: flex-start, $direction: column);
  gap: $spacing-8;

  &-list {
    width: 100%;
  }

  &-item {
    padding: $spacing-16 0;

    &:not(:last-child) {
      border-bottom: 1px solid $border-gray;
    }
  }

  &-title {
    @include line-height('md');
    display: block;
    font-size: 20px;
    color: $font-black;
    font-weight: 500;
  }

  &-detail {
    @include line-height('md');
    font-size: 16px;
    color: $font-black;
  }
}

