.card-simple {
  @include flex-standard($vertical: flex-start, $direction: column);
  width: 100%;
  gap: $spacing-8;

  &-list {
    @include flex-standard($vertical: flex-start, $horizontal: space-between, $direction: column);
    height: 100%;
  }

  &-item {
    @include flex-standard($horizontal: flex-start);
    width: 100%;
    height: 100%;
    padding: $spacing-4 0;

    &:not(:last-child) {
      border-bottom: 1px solid $border-gray;
    }
  }

  &-title {
    @include ellipsis(100%);
    @include line-height('md');
    font-size: 20px;
    color: $font-black;
    font-weight: 500;
  }

  &-detail {
    @include ellipsis(100%);
    @include line-height('md');
    font-size: 16px;
    color: $font-black;
  }
}

